* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg,
            rgb(248, 77, 114),
            rgb(54, 71, 228));



}

.messages {
    display: inline-block;
    padding: 15px 30px
}

::-webkit-scrollbar {
    position: relative;
    width: 10px;

}

::-webkit-scrollbar-track {
    background: #2c2c2c6b;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}


ul {
    list-style-type: none;
}

li {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.267);
    border-radius: 1rem;
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', monospace;
    font-weight: bold;
    margin: 5px;
}

.container {
    z-index: 1;
    width: 70vw;
    height: 90vh;
    background-color: rgba(78, 78, 78, 0.37);
    border-radius: 1rem;
    backdrop-filter: blur(8px);
}

.window {
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 1rem;
    background-color: rgba(166, 166, 167, 0.616);
    width: 100%;
    height: 94%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;

}


.circle {
    position: absolute;
    z-index: 0;
    border-radius: 50%;
}

.circle1 {
    height: 30vw;
    width: 30vw;
    background-image: linear-gradient(45deg,
            rgba(226, 57, 57, 0.425),
            rgba(219, 231, 52, 0.555));
    top: 0px;
    left: 0px;
}

.circle2 {
    height: 30vw;
    width: 30vw;
    background-image: linear-gradient(45deg,
            rgba(75, 224, 120, 0.527),
            rgba(58, 178, 214, 0.473));
    bottom: 0px;
    right: 0px;
}

.input {
    border-radius: 1rem;
    height: 6%;
    display: flex;
    justify-content: stretch;
    padding: 5px;


}

.input input[type="text"] {
    border: none;
    border-radius: 1rem;
    margin: 2px;
    padding: 5px;
    width: 90%;
    font-weight: 900;
    background-color: rgba(177, 177, 177, 0.658);
    font-size: 1rem;
    font-family: 'Roboto Condensed', monospace;

}

.input input[type="text"]:active {
    background-color: rgba(58, 58, 58, 0.356);


}


.input input[type="button"] {
    border: none;
    border-radius: 1rem;
    width: 10%;
    background-color: rgba(141, 140, 140, 0.623);
}

.input input[type="button"]:active {
    background-color: rgba(0, 0, 0, 0.671);
}